.AboutMe-Section {
    width: 100vw;
    /* width: 46.0625em; */
    margin: auto;
}

.AboutMe-Section h3 {
    text-align: center;
    padding: 2em;
    font-size: 24px;
}

.AboutMe-Section .short-desc {
    position: relative;
}


.AboutMe-Section p {
    font-size: 11px;
    line-height: 2em;
    width: calc(100% - 2em);
    margin: auto;
}

.hobbies ul {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 1em;
    width: 50%;
    margin: auto;
    font-size: 10px;
}