.Contact-Section {
    width: 100vw;
}

.Contact-Section input {
    font-family: inherit;
}

.Contact-Section h3 {
    font-size: 24px;
    /* margin: 4em auto; */
    padding-block: 30px;
    text-align: center;
}

.Contact-Section h3::after {
    content: "LET' S TALK";
    opacity: .3;
    position: absolute;
}

.Contact-Section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Contact-Section .flex-c {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Contact-Section .flex-r {
    display: flex;
    justify-content: space-between;
    /* flex-flow: column; */
    gap: 1.875em;
    /* gap: 12em; */
    margin-bottom: 1em;
    /* margin-bottom: 9em; */
}

.Contact-Section input {
    background-color: var(--dim-white);
    padding: 5px 9px;
    /* padding: 42px; */
    font-size: 10px;
    /* font-size: 24px; */
    color: var(--dark-grey);
    outline: none;
    border: 0;
}

.Contact-Section label {
    text-transform: uppercase;
    font-size: 12px;
    /* font-size: 2rem; */
}

.message-container {
    height: 50vh;
}

.message {
    width: 100%;
    height: 100%;
    padding: 1em;
    /* padding: 40px; */
    overflow-y: auto;
    background-color: var(--dim-white);
    color: var(--dark-grey);
    font-family: inherit;
    font-size: 10px;
    /* font-size: 24px; */
}

.buttons-container {
    display: flex;
    justify-content: center;
    place-items: center;
    margin-block: 7.5em;
}

.buttons-container .links {
    display: flex;
    gap: 1em;
    /* gap: 2em; */
    position: absolute;
    left: 0;
    margin-left: 1em;
    /* margin-left: 145px; */
}

.buttons-container .links>*:hover {
    filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.25));
}

.buttons-container button:hover {
    background-color: #fff;
    /* box-shadow: 0 0 50px rgba(255, 255, 255, 0.25); */
    filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.25));
}

.buttons-container button {
    font-size: 12px;
    padding: 7px 18px;
}

.Contact-Section textarea {
    resize: none;
    outline: none;
    border: none;
    color: var(--dark-grey);
}

.links a {
    height: 2em;
    aspect-ratio: 1;
}