.Hero-Section {
    height: 26em;
    width: 100vw;
}

.bg-Image {
    --image: url('../assets/images/bg-smartphone-blur4.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.3), var(--dark-grey) 100%), var(--image);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    animation: zoomOut 5s;
}

@keyframes zoomOut {
    0% {
        background-size: 200%;
    }

    99% {
        background-size: 100%;
    }

    100% {
        background-size: cover;
    }
}

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 10;
    padding: 1em 1em 0 1em;
}

.navbar .logo {
    height: 2.89em;
    width: auto;
    object-fit: contain;
}

.navbar .logo:hover {
    filter: drop-shadow(0 0 20px #ffffff) brightness(2);
}

ul {
    display: flex;
    gap: 48px;
    list-style-type: none;
}

.menu-btn {
    padding: 0;
    font-size: 0;
    font-weight: 100;

    width: 20px;
    height: 20px;
    background-color: transparent;
    color: white;
}

.menu-svg {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

.hero-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1em;
    flex-flow: column;
    width: 280px;
    height: 100%;
    animation: fadeIn 4s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hero-main img {
    aspect-ratio: 1;
    border-radius: 50%;
    height: 10em;
    object-fit: cover;
}

.hero-txt {
    display: grid;
    place-items: center;
    gap: 1em;
    width: 100%;
}

.hero-txt h1 {
    text-align: center;
    font-size: 32px;
    width: 100%;
}

.hero-txt p {
    font-size: 20px;
    font-style: italic;
}

.scrolldown {
    width: 100%;
    display: grid;
    place-items: center;
}

.scrolldown p {
    transform: translateY(-5em);
    font-size: 8px;
    opacity: .5;
}

.scrolldown img {
    transform: rotate(180deg) translateY(2.5em);
    width: 2em;
    aspect-ratio: 1;
    opacity: .5;
    animation: 2s infinite downArrow;
}

@keyframes downArrow {
    0% {
        opacity: 0;
        transform: rotate(180deg) translateY(2.5em) scale(.6);
    }

    10% {
        opacity: 1;
    }

    90% {
        transform: rotate(180deg) translateY(.25em) scale(1);
        width: 2em;
    }

    100% {
        opacity: 0;
    }
}

@media (min-width: 481px) {
    .bg-Image {
        --image: url('../assets/images/bg-tablet-blur5.jpg');
    }
}

@media (min-width: 769px) {
    .bg-Image {
        --image: url('../assets/images/bg-laptop-blur16.jpg');
    }
}

@media (min-width: 1020px) {
    .Hero-Section {
        height: 43.75em;
    }

    .bg-Image {
        --image: url('../assets/images/bg-blur50.jpg');
    }

    .navbar {
        align-items: center;
        height: 6em;
        padding-inline: clamp(8em, 10%, 10em);
    }

    .navbar .logo {
        height: 5.3125em;
    }

    .hero-main {
        margin: 0 auto;
        flex-flow: row;
        width: 100%;
    }

    .hero-main img {
        height: 22.0625em;
    }

    .hero-txt {
        width: fit-content;
        gap: 2em;
    }

    .hero-txt h1 {
        font-size: 64px;
    }

    .hero-txt p {
        font-size: 2.25rem;
    }

    .scrolldown p {
        transform: translateY(-4em);
        font-size: 12px;
    }
}