.Hero-Section {
    height: 26em;
    width: 100%;

    backdrop-filter: blur(10px);
}

.bg-Image {
    background-image: linear-gradient(rgb(0, 0, 0) 1%, rgba(0, 0, 0, 0.45), var(--dark-grey) 100%), url('../assets/images/bg.jpg');
    height: 100%;
    width: 100%;

    background-size: cover;
    background-position: center;
    border: 1px solid blue;
}

.navbar {
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    padding-inline: 8em; */
    top: 0;
    z-index: 10;

    padding: 1em 1em 0 1em;
}

.navbar .logo {
    /* height: 4em; */
    height: 2.89em;
    /* height: 2.5em; */
    width: auto;
    object-fit: contain;
}

.navbar .logo:hover {
    filter: drop-shadow(0 0 20px #ffffff) brightness(2);
}

ul {
    display: flex;
    gap: 48px;
    list-style-type: none;
}

.menu-btn {
    padding: 0;
    font-size: 0;
    font-weight: 100;

    width: 20px;
    height: 20px;
    background-color: transparent;
    color: white;
    /* border: 1px solid white; */
}

.menu-svg {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

.hero-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4.3125em auto;
    /* margin: 10em; */
    gap: 1em;
    /* gap: 0.875em; */

    flex-flow: column;
    width: 280px;
    /* border: 1px solid white; */
}

.hero-main img {
    border-radius: 50%;
    aspect-ratio: 1;
    height: 9.375em;
    /* height: 22.0625em; */
}

.hero-txt {
    display: grid;
    place-items: center;
    gap: 1em;
    width: 100%;
    /* gap: 2em; */
    /* text-align: center; */
}

.hero-txt h1 {
    text-align: center;
    font-size: 32px;
    width: 100%;
}

.hero-txt p {
    font-size: 20px;
    /* font-size: 2.25rem; */
    font-style: italic;
}