.MyArtwork-Section {
    width: 100%;
}

.MyArtwork-Section h3 {
    text-align: center;
    padding: 2em 0;
}

.art-ex-container {
    display: flex;
}

.art-example {
    width: 100%;
    height: 50vh;
    display: grid;
    place-items: center;
}

.art-example h4 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 400;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.295em;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.art-example h4:hover {
    color: #fff;
    transform: scale(1.1);
}

.art-ex-container .first {
    background: linear-gradient(16.8deg, rgba(111, 197, 114, 0.5) 3.5%, rgba(102, 133, 134, 0.5) 100%), url(../assets/images/lockssketch.jpg);
    /* background-image: url(../assets/images/IMG_20220715_0001.jpg); */
    background-size: cover;
    background-position: 97%;
    transition: .5s;
}

.art-ex-container .first:hover {
    background: linear-gradient(-16.8deg, rgba(111, 197, 114, 0.5) 3.5%, rgba(102, 133, 134, 0.5) 100%), url(../assets/images/lockssketch.jpg);
    /* background-image: url(../assets/images/IMG_20220715_0001.jpg); */
    background-size: cover;
    background-position: 97%;
}

.art-ex-container .second {
    background-image: linear-gradient(14.61deg, rgba(0, 24, 238, 0.5) 2.84%, rgba(221, 0, 0, 0.5) 98.85%), url(../assets/images/churchprev.png);
    background-size: cover;
    transition: .5s;
}

.art-ex-container .third {
    background-image: linear-gradient(192.53deg, rgba(226, 109, 90, 0.5) 3.84%, rgba(239, 168, 184, 0.5) 97.03%), url(../assets/images/DoughnutRender.png);
    background-size: cover;
    background-position: center;
    transition: .5s;
}

.art-ex-container .second:hover {
    background-image: linear-gradient(-14.61deg, rgba(0, 24, 238, 0.5) 2.84%, rgba(221, 0, 0, 0.5) 98.85%), url(../assets/images/churchprev.png);
    background-size: cover;
}

.art-ex-container .third:hover {
    background-image: linear-gradient(-192.53deg, rgba(226, 109, 90, 0.5) 3.84%, rgba(239, 168, 184, 0.5) 97.03%), url(../assets/images/DoughnutRender.png);
    background-size: cover;
    background-position: center;
}