.Projects-Section {
    min-height: 100vh;
    margin-block: 3em;
}

.Projects-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 4vw;
    margin-top: 2em;
}

.project {
    background-color: transparent;
    margin: auto;
    background-size: cover;
    background-position: center;

    text-align: center;
    width: clamp(16em, 92vw, 32.5em);
}

.project-content-container {
    background-color: hsl(0, 0%, 5%, .5);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1.5em;
    padding: 2em;
}

.preview {
    aspect-ratio: 1.5;
    border-radius: 24px;
    object-fit: cover;
}

.project-content-container h2 {
    font-size: 3rem;
}

.project-content-container .project-links {
    display: flex;
    justify-content: space-evenly;
}

@media (min-width: 481px) {
    .Projects-Section {
        background-color: red;
    }
}

@media (min-width: 769px) {
    .Projects-Section {
        background-color: orange;
    }

    .project {
        width: 100%;
    }

    .project-content-container {
        display: grid;
        grid-template-columns: minmax(300px, 1fr) auto;
        grid-template-rows: repeat(3, auto);
    }

    .project-content-container h2,
    .project-links,
    .project-content-container p {
        grid-column: 1;
    }

    .project-content-container h2 {
        align-self: center;
        font-size: 3.25rem;
    }

    .project-links {
        align-self: center;
    }

    .preview {
        aspect-ratio: 2;
        align-self: center;
        grid-column: 2;
        grid-row: 1 / -1;
    }
}

@media (min-width: 1020px) {
    .Projects-Section {
        background-color: yellow;
    }
}