.Projects-Section {
    min-height: 100vh;
}

.Projects-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 2em;
}

.project {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.rawpixel.com%2Fimage_800%2FcHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTEyL3Y4ODIta3VsLTMzYS5qcGc.jpg&f=1&nofb=1&ipt=7e261371ad0cf823211e6d963e6f732d19439ce1ca09f4d2f11a9c8fcc6c2888&ipo=images');
    margin: auto;
    background-size: cover;
    background-position: center;

    text-align: center;
    width: clamp(220px, 85%, 520px);

    display: flex;
    flex-direction: column;
}

.blur-layer {
    background-color: hsl(0, 0%, 5%, .25);
    backdrop-filter: blur(10px);
}

.preview {
    aspect-ratio: 1.5;
    margin: 1em auto;
    object-fit: cover;
    order: -1;
    padding: 0;
    width: calc(100% - 2em);
}

/* .project-cta{} */

.project-cta h2 {
    font-size: 2rem;
}

@media (min-width: 481px) {}

@media (min-width: 769px) {}

@media (min-width: 1020px) {}