@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;0,800;1,100;1,400;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: #d9d9d9;
  background-color: #0e0e0e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --dim-white: #d9d9d9;
  --dark-grey: #0e0e0e;
  --hover: #ffffff;

  --logo-size: 2em;
}

a {
  font-weight: 400;
  color: var(--dim-white);
  text-decoration: inherit;
  text-transform: uppercase;
  z-index: 100;
}

a:hover {
  color: var(--hover);
  font-weight: 700;
}

body {
  margin: 0;
  place-items: center;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
}

h2 {
  font-size: 8rem;
  font-weight: 100;
  text-transform: uppercase;
}

h3 {
  color: #333333;
  font-size: 2.25rem;
  text-transform: uppercase;
  text-align: center;
}

button {
  border: 1px solid transparent;
  padding: 1.375em 3.4375em;
  font-size: 2rem;
  font-weight: 800;
  font-family: inherit;
  background-color: var(--dim-white);
  color: var(--dark-grey);
  cursor: pointer;
  text-transform: uppercase;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

img {
  max-width: 100%;
}

.side-margin {
  margin: 0 1em;
}

.BackToTop {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em;
  opacity: .1;
  transition: 300ms;
  z-index: 100;
}

.BackToTop a {
  display: inline-block;
}

.BackToTop:hover {
  opacity: 1;
  filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.25));
}

.logo {
  height: 5.3125em;
  width: auto;
  object-fit: contain;
}

.logo:hover,
.logo-link:hover,
.to-top-btn:hover {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.25));
}

.to-top-btn {
  height: 40px;
  width: auto;
  object-fit: contain;
}

.Screen-Size {
  width: fit-content;
  min-width: 120px;
  max-width: 150px;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1em;
  opacity: .5;
  z-index: 100;
  mix-blend-mode: difference;
  pointer-events: none;
}

.logo-link {
  aspect-ratio: 1;
  width: var(--logo-size);
}

/* .lightmode {
  :root {
    color: var(--dark-grey);
    background-color: var(--dim-white);
  }

  a {
    color: var(--dark-grey);
  }

  a:hover {
    color: var(--dark-grey);
    opacity: .5;
  }

  button {
    background-color: var(--dark-grey);
    color: var(--dim-white);
  }

  button:hover {
    color: var(--hover);
    border-color: 1px solid #0e0e0e;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
} */

@media (min-width: 481px) {
  :root {
    --logo-size: 2.8em;
  }
}

@media (min-width: 769px) {
  :root {
    --logo-size: 3.2em;
  }
}

@media (min-width: 1020px) {
  :root {
    --logo-size: 4em;
  }

  body {
    cursor: none;
  }

  .to-top-btn {
    height: 50px;
    width: auto;
    object-fit: contain;
  }

  button {
    cursor: none;
  }
}